

  img[src="sr 72.jpg"] {
    width: 200px;
    height: 150px;
  }

  img[src="minecraft-creeper-a8lMmZA-600.jpg"] {
    width: 200px;
    height: 150px;
  }

  img[src="Swiss-Cheese.jpg"] {
    width: 200px;
    height: 150px;
  }

  

  img[src="potato.jpeg.crdownload"] {
    width: 200px;
    height: 150px;
  }

  img[src="lemonade.jpg"] {
    width: 200px;
    height: 150px;
  }

  img[src=""] {
    width: 200px;
    height: 150px;
  }

  img[src=""] {
    width: 200px;
    height: 150px;
  }

  img[src=""] {
    width: 200px;
    height: 150px;
  }